@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-font: 'Poppins';
    --font-smallest: 10px;
    --font-small: 13px;
    --font-medium: 20px;
    --font-large: 30px;
    --primary-color: #5a5a5a;
    /* --primary-color: #614bff; */
    --primary-color-faded: #979797;
    --background-color: #fff;
}

body {
    font-family: 'Poppins', sans-serif;
    /* background-color: aqua; */
}

.d_flex {
    display: flex;
    flex-direction: column;
}

a {
    text-decoration: none;
}


/* all the span elements in the page must be uppercase */
span {
    text-transform: uppercase;
}