/* imported for colors */
@import './base.css';

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-container {
    background-color: var(--background-color);
    box-shadow: 3px 3px 5px 6px #ccc;
    width: 500px;
    /* height: 70vh; */
    padding: 4rem;
    text-align: center;
    justify-content: space-between;
}

.main-container div:not(:last-child) {
    margin-bottom: 5rem;
}

/* ---------------------------------------------- Title ---------------------------------------------- */

.welcome_title, .account_title {
    color: var(--primary-color);
    font-family: var(--primary-font);
    font-size: var(--font-medium);
    text-transform: uppercase;
}

.welcome_title p {
    letter-spacing: .5rem;
}

.account_title p {
    letter-spacing: .3rem;
}

/* ---------------------------------------------- Credentials ---------------------------------------------- */

.login_info input{
    width: 80%;
    margin: auto;
    border: none;
    border-bottom: 1px solid var(--primary-color);
    outline: none;
    text-align: center;
    padding-bottom: 1rem;
}

.registration_info input{
    width: 80%;
    margin: auto;
    border: none;
    border-bottom: 1px solid var(--primary-color);
    outline: none;
    text-align: center;
    /* padding-bottom: 1rem; */
}

.login_info input::placeholder{
    color: var(--primary-color-faded);
    font-family: var(--primary-font);
    font-size: var(--font-small);
    font-weight: 300;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: .2rem;
    line-height: 1.5rem;
}

.login_info input:focus::placeholder{
    color: transparent;
}

.login_info input:not(:last-child) {
    margin-bottom: 2rem;
}

/* ---------------------------------------------- Buttons ---------------------------------------------- */
button.btn {
    width: 60%;
    margin: auto;
    padding: 1rem 1.3rem;
    background-color: var(--primary-color);
    color: var(--background-color);
    font-size: var(--font-small);
    font-weight: 400;
    letter-spacing: .2rem;
    text-transform: uppercase;
    border: .5px solid transparent;
    border-radius: .3rem;
    margin-bottom: 1.2rem;
    transition: .3s linear;
    cursor: pointer;
}

button.btn:hover {
    background-color: var(--background-color);
    color: var(--primary-color);
    border: .5px solid var(--primary-color);
}

a.btn {
    color: var(--primary-color-faded);
    font-size: var(--font-small);
    font-weight: 400;
    letter-spacing: .2rem;
    text-transform: uppercase;
    transition: .2s linear;
    cursor: pointer;
}

a.btn:not(:last-of-type) {
    margin-bottom: 1.2rem;
}

a.btn:hover {
    color: var(--primary-color);
}