<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Login CSS -->
    <link rel="stylesheet" href="{% static 'css/login.css' %}">

    <title> Login </title>
</head>
<body>

<!-- Main Login Form -->
<div class="main-container d_flex" action="{% url 'login' %}" method="POST">
    <div class="welcome_title">
        <p> Attendance Management System </p>
    </div>
    
    <form action="{% url 'login' %}" method="POST">
        {% csrf_token %}

        <div class="login_info d_flex">
            <input type="text" name="username" placeholder="username" required>
            <input type="password" name="password" placeholder="password" required>
        </div>
    
        <div class="buttons d_flex">
            <button type="submit" class="btn btn_universal">login</button>
            <a href="{% url 'registration' %}" class="btn btn_create_account"> create account </a>
            <a href="#" class="btn btn_forgot"> forgot password ? </a>
        </div>
    </form>
</div>

</body>
</html>  